Source: usb-gadget
Section: devel
Priority: optional
Maintainer: Coral <coral-support@google.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://coral.ai/

Package: usb-gadget
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dnsmasq, openssh-server, network-manager
Description: Sets up USB gadget ethernet and TTY for a given USB port
 Using sysfs, configures USB gadget to expose a
 serial console using ACM, and an Ethernet
 device using ECM.
