#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# export DH_VERBOSE = 1

%:
	dh $@ --with systemd

override_dh_systemd_enable:
	dh_systemd_enable --name=usb-gadget
	dh_systemd_enable --name=usb-gadget-getty-ttyGS0

# From man dh_installinit:
# In compat 10 or earlier: If a package only ships a systemd service file and no sysvinit script
# is provided, you may want to exclude the call to dh_installinit for that package (e.g. via -N).
# Otherwise, you may get warnings from lintian about init.d scripts not being included in the
# package.
override_dh_installinit:
	true
